# Database
DB_HOST=localhost
DB_PORT=54321
DB_NAME=test
DB_USER=postgres
DB_PASS=password

# JWT
JWT_SECRET="Auth Application"
JWT_TOKEN_AUDIENCE=localhost:3000
JWT_TOKEN_ISSUER=localhost:3000
JWT_ACCESS_TOKEN_TTL=3600
JWT_REFRESH_TOKEN_TTL=86400

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=password

# Mail
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=khongmeow@gmail.com
MAIL_PASS="wrnh onij yyde gsmi"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=khongmeow@gmail.com
MAIL_FROM_NAME="Auth Application NestJS"